body {
    font-family: 'News Cycle', sans-serif;

}
.nav-btn {

    margin-right: 5px;
    margin-bottom: 5px;
}

.navbar {
    margin: 5px;
    /* color: white; */
}

.intro {
text-align: center;
margin: 10px auto;

 
}
.intro h1 {
    text-shadow: 1px 1px 2px black; 

    
}
.intro img {
    width: 100%;
    height: 400px;

}



#article-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.notes-div {
    width: 100%;
}


.article-container, .saved-article-container, #empty-article-display, #notes-container{
    display: grid;
    text-align:center;
    /* justify-items: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 25px auto;
    padding: 20px;

}

h5 {
    color: grey;
}

#specific-note {
 color: grey;

}

#note {
    width: 100%;
    margin-bottom: 10px;
    height: 80px;
}

.form-btn {
    margin: 15px;
}
#submit-form {
    border: single;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding : 10px;
    width: 100%;
    
}

#processing-instructions {
    color: green;
}

#instructions {
    color:red
}